@import "tailwindcss";

:root {
  --primary-light: #FDFEF8;
  --primary: #A8999E;
  --primary-dark: #7F7679;
  --secondary: #F5F2ED;
  --accent: #FFFFFF;
  --text: #7F7679;
  --subtext: #A8999E;
  --border: #A8999E;
  --success: #4CAF50;
  --error: #F28A8A;
  --warning: #FBC02D;
  --info: #42A5F5;

  --background: #A8999E;
  --foreground: var(--text);
  --card: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #000000;
    --card: #2a2a2a;
    --border: var(--primary-dark);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-barlow), var(--font-noto-sans-thai), sans-serif;
}
.bg-background {
  background-color: var(--background);

}

.bg-card {
  background-color: var(--card);
  border: 1px solid var(--border);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-primary-light {
  background-color: var(--primary-light);
}
.bg-primary-dark {
  background-color: var(--primary-dark);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-success {
  background-color: var(--success);
}
.bg-error {
  background-color: var(--error);
}
.bg-accent {
  background-color: var(--accent);
}

.border-primary {
  border-color: var(--primary);
}
.text-primary-dark {
  color: var(--primary-dark);
}
.text-primary-light {
  color: var(--primary-light);
}

.text-primary {
  color: var(--text);
}
.text-subtext {
  color: var(--subtext);
}
.text-success {
  color: var(--success);
}
.text-error {
  color: var(--error);
}
.text-warning {
  color: var(--warning);
}
.text-info {
  color: var(--info);
}
.glass-card {

  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 38px 19px #a89a9e;
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
.glitter {
  background: url("https://lh5.googleusercontent.com/d/1oRzZ7sopSDQpcubD9q4KHQiD83q_4kUI") repeat;
  background-size: cover; /* ปรับเป็น 200px 200px ถ้าอยากให้ลายถี่ขึ้น */
}
